.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo{
    max-width: 116px;
    max-height: 64px;
    width: 116px;
    height: 64px;

    margin-bottom: 32px;
}

.search {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: var(--color-gray-300);
    width: 400px;
    height: 56px;
    border-radius: 8px;
    padding: 0 16px;
    border: 1px solid var(--color-gray-400);
}

#search-client {
    width: 100%;
    background-color: transparent;
    border: none;
    height: 100%;
}

#search-client::placeholder {
    color: var(--color-gray-500);
}

#search-client:focus {
    outline: none;
}

.search:focus-within {
    border: 1px solid var(--color-primary);
}

#search-client:not(:placeholder-shown) + .search-button {
    opacity: 1;
}

#search-client:placeholder-shown + .search-button {
    opacity: 0.6;
}

.search-button {
    background-color: var(--color-gray-700);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.6; 
}

@media screen and (max-width: 400px) {
    .logo {
        margin-bottom: 16px;
    }

    .search {
        width: 360px
    }
}