:root {
    --font-family: 'Oxygen', sans-serif;
  
    /* Title md */
    --font-title-md-size: 24px;
    --font-title-md-line-height: 140%;
    --font-title-md-weight: bold;
    --font-title-md-case: default;
  
    /* Title sm */
    --font-title-sm-size: 18px;
    --font-title-sm-line-height: 140%;
    --font-title-sm-weight: bold;
    --font-title-sm-case: default;
  
    /* Subtitle md */
    --font-subtitle-md-size: 14px;
    --font-subtitle-md-line-height: 140%;
    --font-subtitle-md-weight: bold;
    --font-subtitle-md-case: uppercase;
  
    /* Subtitle sm */
    --font-subtitle-sm-size: 12px;
    --font-subtitle-sm-line-height: 140%;
    --font-subtitle-sm-weight: bold;
    --font-subtitle-sm-case: uppercase;
  
    /* Text md */
    --font-text-md-size: 16px;
    --font-text-md-line-height: 140%;
    --font-text-md-weight: regular;
    --font-text-md-case: default;
  
    /* Text sm */
    --font-text-sm-size: 14px;
    --font-text-sm-line-height: 140%;
    --font-text-sm-weight: regular;
    --font-text-sm-case: default;
  
    /* Text xs */
    --font-text-xs-size: 12px;
    --font-text-xs-line-height: 140%;
    --font-text-xs-weight: regular;
    --font-text-xs-case: default;
  }